# Python Source files
# ============
*.py     text diff=python

# Python Binary files
# ============
*.db     binary export-ignore
*.p      binary export-ignore
*.pkl    binary export-ignore
*.pickle binary export-ignore
*.pyc    binary export-ignore
*.pyo    binary export-ignore
*.pyd    binary export-ignore

# Other
# ============
*.png    binary
