[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog
[submodule "subprojects/glaze"]
	path = subprojects/glaze
	url = https://github.com/stephenberry/glaze
[submodule "subprojects/ztd"]
	path = subprojects/ztd
	url = https://github.com/thermitegod/ztd
